{% extends 'home/includes/base.html' %}

{% block content %}

<h1 class="my-4">{{station.name}}</h1>
<div class="card h-100 p-4" >
  <h2 class="my-4">{{song.title}}, by {{song.created_by.username}} </h2>
  <audio id="audio" controls autoplay controlsList="nodownload noplaybackrate">
    <source src="/media/{{song.file}}">
  </audio>
  <br>
  <div id="like-section">
    {% if user in song.liked_by.all %}
      Liked
    {% else %}
      <button id="like-button" style="height:30px;width:80px;">Like</button>
    {% endif %}
  </div>
</div>

<script type="text/javascript">
	var audio = document.getElementById("audio");
	audio.onended = function() {
		window.location = "{% url 'station:listen' station.id %}";
	}

  var likeButton = document.getElementById("like-button");
	likeButton.onclick = function() {
	  $.ajax({
      type: 'POST',
      'data': {
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      url: "{% url 'song:like' song.id %}",
      success: function(response) {
        document.getElementById("like-section").innerHTML = "Liked";
      },
    })
	}
</script>

{% endblock %}