{% extends 'home/includes/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
   <!--Django Form-->
  {% if user.is_superuser %}
    <h2 class="my-4">New Station</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
        {{form|crispy}}
          <button class="btn btn-dark my-4" type="submit">Create</button>
    </form>
  {% endif %}

  <h2 class="my-4">Stations</h2>
  <div class="row">
    {% for s in stations %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
      <div class="card h-100 p-4">
        {{s.name}}
        <a href="{% url 'station:listen' s.id %}">Listen</a>
        {% if user.is_superuser %}
          <a href="{% url 'station:delete' s.id %}">Delete</a>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
      <p>There's no station yet.</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}